body {
  margin: 0;
  overflow-x:hidden ;
}
.routes {
  padding: 0 10% ;
  margin-top: 10%;
}
h1,h2,h3,h4,h5,h6,p,li {
  font-family: 'Tiro Telugu', serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6,li {
  color: #2f3431;
}
p {
  color: #6a6a6a
}
li {
  list-style: none;
  margin: 0 20px;
}
ul {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}
